@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Hind+Madurai:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.container {
    margin: 0 auto;
}

.overflow {
    overflow-x: hidden;
}

.roboto {
    font-family: "Roboto", sans-serif;
}

.hind {
    font-family: "Hind Madurai", sans-serif;
}

.fre {
    font-family: "Fredoka", sans-serif;
}
